.drawerCtn {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  border-right: 1px solid rgb(215, 215, 215);
}

.homeCtn,
.favoritesCtn,
.timersCtn,
.socialCtn {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75px;
  display: flex;
  align-items: center;
}
.homeCtn:hover,
.favoritesCtn:hover,
.timersCtn:hover,
.socialCtn:hover {
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}
